.slider-container{
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  }
  .slider-container h2{
    text-align: left;
  }

  .title-lastProject {
    border-top: 1px solid #E7E7E7;
    margin-top: 16px;
  }
  .last-project-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .last-project {
    background-color: white;
    border: 1px solid rgba(231, 231, 231, 1);
    padding: 20px;
    border-radius: 5px;
    /* height: 290px; */
    width: 90% !important;
    text-align: left;
  }
  .footer-lastProject{
    display: flex;
    justify-content: flex-start;
    gap: 4px;
  }
  .footer-lastProject span{
    padding: 4px 8px 4px 8px;
    background: #FEF2F2;
    border-radius: 4px;
  }


  @media (max-width: 768px) {
    .slider-title {
      width: 100%;
  }
  .slider-container{
    margin-top: 40px;
  }
  .container-results{
    width: 100%;
  }
  
  
  }
  