.slider-container{
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  }
  .slider-container h2{
    text-align: left;
  }
/* 
  .title-lastProject {
    font-size: 16px;
    margin-bottom: 10px;
  } */
  .last-project-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .last-project {
    background-color: white;
    border: 1px solid rgba(231, 231, 231, 1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 250px;
    width: 90% !important;
    text-align: left;
  }