.slider-container{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    }
    .slider-container h2{
      text-align: left;
    }
  .slider-title{
    margin-left: 24px;
    width: 66%;
}
    .last-project-list {
      display: grid;
      grid-template-columns: repeat(5, minmax(200px, 1fr));
      gap: 20px;
      padding: 20px;
    }
    
    .last-law {
      background-color: white;
      border: 1px solid rgba(231, 231, 231, 1);
      padding: 20px;
      border-radius: 5px;
      height: 186px;
      width: 90% !important;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    .last-law h4{
      margin: 0;
      margin-bottom: 4px;
    }
    .law-last-title{
      padding: 0 !important;
      margin: 0  !important;
      margin-bottom: 16px !important;
    }
    .law-last-title p{
      padding: 0;
    }
    .date-lastLaw{
      display: flex ;
      justify-content: space-between;
      margin-right: 0 !important ;
      padding: 0 !important;
      margin-bottom: 0;
      cursor: pointer;
    }
    .slick-arrow.slick-next {
        background: white  !important;
    }
    .slick-arrow.slick-prev {
        background: white  !important;
    }
    .slick-next.slick-disabled:before {
        color: black !important;
        opacity: 100 !important;
    }
    .btn-arrow-last{
      height: 32px;
      width: 32px;
      border-radius: 6px;
      border: 1px solid #E7E7E7;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: background 0.3s ease, border-color 0.3s ease;
    }

.btn-arrow-last:hover{
      background-color: #E7E7E7;

    }
    .slick-prev:before, .slick-next:before {
        color: black !important;
        opacity: 100 !important;
    }