.norma{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.norma-title {
    margin-top: 80px;
}
.norma-content{
    width: 846px;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: justify;
    border: 1px solid #E7E7E7;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
}
.articulo-container.highlight {
    background-color: rgba(254, 242, 242, 1);
  }
.header-norma{
    background-color: rgba(246, 246, 246, 1);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}
.titulo-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 846px;
}
.article-wrapper{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-end;
}
.articulo-container{
    width: 100%;
} 
.organismos-container{
    display: flex;
}
.organismo-norma{  
    margin: 0;
    padding: 4px 8px 4px 8px;
    background: rgba(254, 242, 242, 1);
    border-radius: 4px;   
}

.titulo-container span{
    text-transform: uppercase;
    color:  #E84545
}
.titulo-container h3{
  color:  #E84545
}
.body-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
}
.norma-container{
    width: 86%;
}

@media (max-width: 768px) {

    .header-norma{
        padding: 0;
        justify-content: space-between;
    }
    .toggle-container h1 {
        display: none;
    }
 .titulo-container{
    width: 100%;
 }   
.norma{
    margin-left: 16px;
}
.norma-title {
    margin-left: 16px;
    margin-top: 40px;
}
 .norma-content{
    width: 100%;
    margin-left: 16px;
 }
}