*{
  margin: 0;
  padding: 0;
}

/* global.css */
body {
  color: rgba(229, 229,229, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:white;
}
label{
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(37, 37, 37, 1);
  font-size: 14px;
  line-height: 20px;
}
input{
  font-family: "Roboto", sans-serif;

}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Serif", serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 500;
}
h1{
  font-size: 56px;
  line-height: 64px;
}
h2{
  font-size: 32px;
  line-height: 40px;
}
h3{
  font-size: 24px;
  line-height: 32px;
}
h4{
  font-size: 18px;
  line-height: 24px;
  color: #E84545;
}
span{
  color: rgba(69, 69, 69, 1);
  font-size: 1em; 
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
::placeholder{
  color:#B0B0B0;
  font-size: 16px; 
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}
p {
  font-size: 16px; 
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color:rgba(37, 37, 37, 1);

}

a {
  color: rgba(37, 37, 37, 1);
  text-decoration: none;
  font-family: "Roboto", sans-serif;

}
.button-primary-global {
  background: rgba(55, 153, 107, 1);
  border: 0.2px solid rgba(61, 207, 142, 1);
  width: 140px;
  border-radius: 32px;
  color: rgba(229, 229, 229, 1);
  font-weight: 500;
  transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
}
.button-secondary-global{
  background:rgba(46, 46,46, 1);
  font-weight: 500;
  transition: background-color 0.3s ease; /* Suaviza la transición del color de fondo */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.button-primary-global:hover {
  background-color: hsl(151.8deg 47.1% 40.8% / 80%);
}

.button-secondary-global:hover {
  background-color: rgb(52 52 52);
}

button.button-secondary-global.active.btn.btn-primary {
  background-color:rgba(62, 207,152, 1);
  color: #fff; /* Texto del botón activo */
}
/* a:hover {
  color:#186862;
} */
@media (max-width: 768px) {

}
