.panel-container {
    /* position: absolute; */
    padding: 10px;
    position: sticky;
    z-index: 1000;
}
.btn-panel{
    background: #454545   
}
.btn-panel-default{
    background-color: #e84545;
}
.btn-panel:active{
    background: red!important;
}
